<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>PERPUSTAKAAN</title>

    {% block head_collect %}{% include 'head_collect.html' %}{% endblock %}

</head>
<body class="hold-transition dark-mode login-page">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__wobble" src="../static/assets/dist/img/AdminLTELogo.png" alt="PERPUS" height="60" width="60">
    </div>

    {% block content %}{% endblock %}

    {% block foot_collect %}{% include 'foot_collect.html' %}{% endblock %}

</body>
</html>